<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card 3D Animation</title>
    <link rel="stylesheet" href="/css/card3D.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section>
      <div class="container">
        <div class="card">
          <div class="card-top">
            <div class="circle"></div>
            <img class="card-img-top" src="/img/adidas.png" />
          </div>
          <div class="card-body">
            <h1 class="card-title">Adidas ZX</h1>
            <h4 class="card-decs">
              Future-Ready trainer with wrapped boost for exception comfort
            </h4>
            <div class="size">
              <span>39</span>
              <span>40</span>
              <span class="active">41</span>
              <span>42</span>
            </div>
            <a href="#" class="btn btn-primary">Purchases</a>
          </div>
        </div>
      </div>
    </section>
    <!-- 3D animation -->
    <script src="/js/card3D.js"></script>
  </body>
</html>
