<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navigation Responsive #2</title>
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <link href="http://fonts.cdnfonts.com/css/alphacentauri" rel="stylesheet" />
    <link rel="stylesheet" href="/css/navbarResponsive_2.css" />
  </head>
  <body>
    <header class="header" id="header">
      <div class="container">
        <div class="header-container">
          <div class="header-logo">MILKY</div>
          <ul class="header-menu">
            <li class="menu-item">
              <a href="#" class="menu-item__link">Home</a>
            </li>
            <li class="menu-item">
              <a href="#" class="menu-item__link active">MarketPlace</a>
            </li>
            <li class="menu-item">
              <a href="#" class="menu-item__link">Products</a>
            </li>
            <li class="menu-item">
              <a href="#" class="menu-item__link">Discover</a>
            </li>
            <li class="menu-item">
              <a href="#" class="menu-item__link">About</a>
            </li>
          </ul>
          <div class="menu-toggle"><span></span><span></span><span></span></div>
          <div class="header-auth">
            <a href="#" class="sign-in">sign in</a>
            <a href="#" class="sign-up">sign up</a>
          </div>
        </div>
      </div>
    </header>

    <script src="/js/navbarResponsive_2.js"></script>
  </body>
</html>
